<div class="app">
  <textarea class="source" v-model="source"></textarea>
  <div class="result">
    <button @click="generate()">generate</button>
    <div class="options">
      <select v-model="selectedOption">
        <option v-for="option in options" :value="option" :key="option">{{option}}</option>
      </select>
    </div>
    <pre class="protobuf" v-if="selectedOption === 'protobuf'">{{protobuf}}</pre>
    <pre class="json-schema" v-if="jsonSchema">{{jsonSchema}}</pre>
    <pre class="graphql-schema" v-if="selectedOption === 'graphql schema'">{{graphqlSchema}}</pre>
  </div>
</div>
